@model Building
@{
    var locationsList = ViewData["Locations"] as List<Location>;
}
<form method="post" asp-controller="Geo" asp-action="@ViewData["FormAction"]">
    <div class="modal-header">
        <h5 class="modal-title">Редактирование здания</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Name" placeholder="Название">
            <label asp-for="Name">Название здания</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group">
            <div class="form-floating">
                <select class="form-select js-action-select"
                        asp-for="LocationId"
                        asp-items="@(new SelectList(locationsList, "Id", "Name"))">
                    <option value="">-- Не выбрана --</option>
                </select>
                <label asp-for="LocationId">Выберите локацию</label>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-info d-flex align-items-center btn-open-child-modal"
                   asp-area="" asp-controller="Geo" asp-action="LocationAdd"
                   title="Добавить">
                    <i class="bi bi-plus-lg"></i>
                </a>
                <a class="btn btn-outline-warning d-flex align-items-center disabled btn-open-child-modal js-btn-edit"
                   data-url-template="@Url.Action("LocationEdit", "Geo", new { id = "0" })"
                   title="Редактировать">
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="btn btn-outline-danger js-btn-delete d-flex align-items-center btn-trigger-delete disabled"
                   data-url-template="@Url.Action("LocationDelete", "Geo", new { id = "0" })"
                   title="Удалить">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>