@model Office
@{
    var floorsList = ViewData["floors"] as List<Floor>;
}
<form method="post" asp-controller="Geo" asp-action="OfficeAdd">
    <div class="modal-header">
        <h5 class="modal-title">Редактирование кабинета</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Name" placeholder="Название">
            <label asp-for="Name">Название</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group">
            <div class="form-floating">
                <select class="form-select js-action-select"
                        asp-for="FloorId"
                        asp-items="@(new SelectList(floorsList, "Id", "FloorNum"))">
                    <option value="">-- Не выбран --</option>
                </select>
                <label asp-for="FloorId">Выберите этаж</label>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-info d-flex align-items-center btn-open-child-modal"
                   asp-area="" asp-controller="Geo" asp-action="FloorAdd"
                   title="Добавить">
                    <i class="bi bi-plus-lg"></i>
                </a>
                <a class="btn btn-outline-warning d-flex align-items-center disabled btn-open-child-modal js-btn-edit"
                   data-url-template="@Url.Action("FloorEdit", "Geo", new { id = "0" })"
                   title="Редактировать">
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="btn btn-outline-danger js-btn-delete d-flex align-items-center btn-trigger-delete disabled"
                   data-url-template="@Url.Action("FloorDelete", "Geo", new { id = "0" })"
                   title="Удалить">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>