<div class="row g-2">
    <!-- Полный отчёт -->
    <div class="col-md-4">
        <div class="card h-100 report-card p-2">
            <div class="card-body d-flex flex-column p-2">
                <div class="icon-box">
                    <i class="bi bi-motherboard"></i>
                </div>
                <h6 class="card-title fw-bold card-title-small">Полный отчёт</h6>
                <p class="card-text small opacity-75 mb-2">Содержит все отчёты.</p>
                <button onclick="downloadReport('/Reports/ExportFullInventory', 'FullInventoryReport.xlsx')" class="btn btn-primary btn-sm mt-auto">
                    <i class="fa-solid fa-download me-2"></i>Скачать
                </button>
            </div>
        </div>
    </div>
    <!-- Железо -->
    <div class="col-md-4">
        <div class="card h-100 report-card p-2">
            <div class="card-body d-flex flex-column p-2">
                <div class="icon-box">
                    <i class="bi bi-motherboard"></i>
                </div>
                <h6 class="card-title fw-bold card-title-small">Hardware</h6>
                <p class="card-text small opacity-75 mb-2">Отчет по железу.</p>
                <button onclick="downloadReport('/Reports/ExportHardware', 'HardwareReport.xlsx')" class="btn btn-primary btn-sm mt-auto">
                    <i class="fa-solid fa-download me-2"></i>Скачать
                </button>
            </div>
        </div>
    </div>
    <!-- ПО -->
    <div class="col-md-4">
        <div class="card h-100 report-card p-2">
            <div class="card-body d-flex flex-column p-2">  
                <div class="icon-box">
                    <i class="bi bi-window-stack"></i>
                </div>
                <h6 class="card-title fw-bold card-title-small">Software</h6>
                <p class="card-text small opacity-75 mb-2">Отчет по установленному программному обеспечению.</p>
                <button onclick="downloadReport('/Reports/ExportSoftware', 'SoftwareReport.xlsx')" class="btn btn-primary btn-sm mt-auto">
                    <i class="fa-solid fa-download me-2"></i>Скачать
                </button>
            </div>
        </div>
    </div>
    <!-- Мониторы -->
    <div class="col-md-4">
        <div class="card h-100 report-card p-2">
            <div class="card-body d-flex flex-column p-2">
                <div class="icon-box">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <h6 class="card-title fw-bold card-title-small">Мониторы</h6>
                <p class="card-text small opacity-75 mb-2">Отчет по дисплеям и диагоналям.</p>
                <button onclick="downloadReport('/Reports/ExportMonitors', 'MonitorReport.xlsx')" class="btn btn-primary btn-sm mt-auto">
                    <i class="fa-solid fa-download me-2"></i>Скачать
                </button>
            </div>
        </div>
    </div>
    <!-- Принтеры -->
    <div class="col-md-4">
        <div class="card h-100 report-card p-2">
            <div class="card-body d-flex flex-column p-2">
                <div class="icon-box">
                    <i class="bi bi-printer"></i>
                </div>
                <h6 class="card-title fw-bold card-title-small">Принтеры</h6>
                <p class="card-text small opacity-75 mb-2">Отчет по установленным на компьютерах принтерам.</p>
                <button onclick="downloadReport('/Reports/ExportPrinters', 'PrintersReport.xlsx')" class="btn btn-primary btn-sm mt-auto">
                    <i class="fa-solid fa-download me-2"></i>Скачать
                </button>
            </div>
        </div>
    </div>
    <!-- USB -->
    <div class="col-md-4">
        <div class="card h-100 report-card p-2">
            <div class="card-body d-flex flex-column p-2">
                <div class="icon-box">
                    <i class="bi bi-usb-symbol"></i>
                </div>
                <h6 class="card-title fw-bold card-title-small">USB</h6>
                <p class="card-text small opacity-75 mb-2">Отчет по подключенным USB-устройствам.</p>
                <button onclick="downloadReport('/Reports/ExportUsb', 'UsbReport.xlsx')" class="btn btn-primary btn-sm mt-auto">
                    <i class="fa-solid fa-download me-2"></i>Скачать
                </button>
            </div>
        </div>
    </div>
</div>