@model Cartridge
@{
    var manufactors = ViewData["manufactors"] as List<Manufactor>;
}
<form method="post" asp-controller="Printer" asp-action="@ViewData["FormAction"]">
    <div class="modal-header">
        <h5 class="modal-title">Редактирование картриджа</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Model" placeholder="Название картриджа">
            <label asp-for="Model">Название картриджа</label>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Yield" placeholder="Ёмкость картриджа">
            <label asp-for="Yield">Ёмкость картриджа</label>
            <span asp-validation-for="Yield" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select class="form-select"
                    asp-for="ManufactorId"
                    asp-items="@(new SelectList(manufactors, "Id", "Name"))">
            </select>
            <label asp-for="ManufactorId">Выберите производителя</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>