@model Printer
@{
    var workplacelist = ViewData["workplaces"] as List<Workplace>;
    var models = ViewData["models"] as List<PrinterModel>;
}

<form method="post" asp-controller="Printer" asp-action="@ViewData["FormAction"]">
    <div class="modal-header">
        <h5 class="modal-title">Редактирование принтера</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="PrinterName" placeholder="Название принтера">
            <label asp-for="PrinterName">Название принтера</label>
            <span asp-validation-for="PrinterName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select class="form-select"
                    asp-for="PrinterModelId"
                    asp-items="@(new SelectList(models, "Id", "Name"))">
            </select>
            <label asp-for="PrinterModelId">Выберите модель принтера</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="IP" placeholder="IP-адрес">
            <label asp-for="IP">IP-адрес</label>
            <span asp-validation-for="IP" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="HostName" placeholder="Hostname">
            <label asp-for="HostName">Hostname</label>
            <span asp-validation-for="HostName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="PrintCount" placeholder="Напечатано">
            <label asp-for="PrintCount">Напечатано</label>
            <span asp-validation-for="PrintCount" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="ScanCount" placeholder="Отсканировано">
            <label asp-for="ScanCount">Отсканировано</label>
            <span asp-validation-for="ScanCount" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="LastFuserRepair" placeholder="Последний ремонт печи">
            <label asp-for="LastFuserRepair">Последний ремонт печи</label>
            <span asp-validation-for="LastFuserRepair" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select class="form-select"
                    asp-for="Workplaces"
                    asp-items="@(new SelectList(workplacelist, "Id", "Name"))">
                <option value="">-- Не выбрано --</option>
            </select>
            <label asp-for="Workplaces">Выберите рабочее место</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>
